<h1>Sensor Readings</h1>

<div class="filter-container">
  <mat-form-field class="filter">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter by sensor name or sensor type">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Generic column definition -->
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="isSortingDisabled(column)">{{ column.name }}</th>
      <td mat-cell *matCellDef="let row">{{ column.render(row) }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
</div>

